# Dependencies
node_modules/

# Android specifics
.gradle
build/
local.properties
*.keystore
*.jks

# iOS specifics
ios/Pods/
ios/build/
*.perspectivev3
xcuserdata/
DerivedData/

# Testing
coverage/

# Environment variables
.env
.env.local

# Expo (if applicable)
.expo/
dist/

# System files
.DS_Store
Thumbs.db

